@media (min-width: 1200px) {
    .team{
        padding: 120px 0% 120px;
        clip-path: polygon(0 9%, 100% 0, 100% 91%, 0% 100%);
    }
  }
  @media (max-width: 1200px) {
    .team{
        padding: 120px 0% 120px;
        clip-path: polygon(0 8%, 100% 0, 100% 92%, 0% 100%);
    }
  }
  @media (max-width: 985px) {
    .team{
        padding: 100px 0% 120px;
        clip-path: polygon(0 4%, 100% 0, 100% 96%, 0% 100%);
    }
}
  @media (max-width: 768px) {
    .team {
        padding: 100px 0% 100px;
      clip-path: polygon(0 2%, 100% 0, 100% 98%, 0% 100%);
    }
  }

  .team .member .member-img:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: url('https://cdn.dribbble.com/userupload/8532564/file/original-64db8780dbedf304d20ee773155de7a2.png?compress=1&resize=1024x228') no-repeat center bottom;
    background-size: contain;
    z-index: 1;
  }
  .team .member .member-info p {
    font-style: italic;
    font-size: 14px;
    padding-top: 15px;
    line-height: 26px;
    color: #5e5e5e;
  }
